* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font: 18px/1.5 arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header-content {
  display: flex;
  padding: 0 40px 5px 40px;
  justify-content: space-between;
  border: 3px solid black;
  margin: 7px 10px 5px 10px;
}

.main-headline a h3 {
  color: black;
}

.nav-ul {
  display: flex;
  gap: 20px;
}

.nav-ul li {
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.title-holder,
.author-holder {
  width: 100%;
  height: 30px;
  border: 2px solid black;
  font-size: large;
  padding-left: 5px;
}

.main-btn {
  float: right;
  margin-top: 20px;
  width: 70px;
  height: 30px;
  border: 3px solid black;
}

.container {
  margin: auto;
  width: 50%;
  text-align: center;
  min-height: 90vh;
}

.book-container {
  margin-top: 4vh;
}

.inner-book-holder {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  height: 50px;
}

.inner-button {
  height: 30px;
  margin-top: 17px;
  border: 2px black solid;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  margin-bottom: 5px;
  padding: 0 20px 0 20px;
}

.section-1,
.section-3 {
  display: none;
}

span {
  font-weight: bolder;
}

.inner-para {
  font-size: 20px;
  font-weight: 500;
}

.inner-span {
  color: rgb(236, 40, 79);
}

footer {
  width: 96%;
  position: absolute;
  margin-bottom: 0;
  border: 2px solid black;
  text-align: center;
  left: 30px;
}

.date {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
